<form method="POST" action="/artstore/{{store._id}}/editstore/?_method=PUT">
    <label for="name">Name</label>
    <input type="text" name="name" value={{store.name}} id="name" />

    <label for="address">Address</label>
    <input type="text" name="address" value={{store.address}} id="address" />

    <label for="yearsOpen">Years Open</label>
    <input type="number" name="yearsOpen" value={{store.yearsOpen}} id="yearsOpen"/>

    <label for="website">Website</label>
    <input type="text" name="website" value={{store.website}} id="website" />

    <label for="manager">Managers</label>
    <input type="text" name="managers" value={{store.managers}} id="managers" />

    <label for="availableClasses">Available Classes</label>
    <input type="checkbox" name="availableClasses" value={{store.availableClasses}}/>

    <input type="submit" value="Save Store" />

</form>



