
<div class="intro-font">
<h2>Store Name: {{store.name}}</h2>

<p>Name: {{store.name}}</p>
<p>Address: {{store.address}}</p>
<p>Years Open: {{store.yearsOpen}}</p>
<p>Website: {{store.website}}</p>
<p>Available Classes: {{store.availableClasses}}</p>
</div>

<form method="POST" action="/artstore/{{store._id}}/?_method=DELETE">
    <input type="submit" class= "btn btn-default btn-danger btn-sm" value="Delete Store"/>
</form>

<br>

<a href="/artstore" class="btn btn-default btn-warning">View All Stores</a>

<a href="/materialstore" class="btn btn-default btn-warning">View All Materials</a>

<a href="/artstore/{{store._id}}/edit" class="btn btn-default btn-warning">Edit This Store</a>

