
<h2>Store: {{store.name}}</h2>

<p>Name: {{store.name}}</p>
<p>Address: {{store.address}}</p>
<p>Years Open: {{store.yearsOpen}}</p>
<p>Website: {{store.website}}</p>
<p>Manager: {{store.manager}}</p>
<p>Available Classes: {{store.availableClasses}}</p>

<form method="POST" action="/artstore/{{store}}/?_method=DELETE">
    <input type="submit" value="Delete Store"/>
</form>

<a href="/artstore">View All Stores</a>

<a href="/materialstore">View All Materials</a>

<a href="/artstore/editStore">Edit This Store</a>

