<h2>{{store}}</h2>

<div>
   <div>Description: {{store.description}}</div>
    <div>Created At: {{store.createdAt}}</div>
    <div>Status: {{store.status}}</div>
    <div>Priority: {{store.priority}}</div>
</div>

