<form method="POST" action="/materialstore/{{materialEId._id}}/editmaterial/?_method=PUT">
    <label for="type">Type</label>
    <input type="text" name="type" value="{{material.type}}"/>

    <label for="quantity">Quantity</label>
    <input type="number" name="quantity" value="{{material.quantity}}"/>

    <label for="brandName">Brand Name</label>
    <input type="text" name="brandName" value="{{material.brandName}}"/>

    <label for="cost">Cost</label>
    <input type="number" name="cost" value="{{material.cost}}"/>

    <input type="submit" value="Save Material" />

</form>