<h2>Material {{material.type}}</h2>

<p>Type: {{material.type}}</p>
<p>Quantity: {{material.quantity}}</p>
<p>Brand Name: {{material.brandName}}</p>
<p>Cost: {{material.cost}}</p>
<p>Sold Year Round: {{material.soldYearRound}}</p>

<form method="POST" action="/materialstore/{{material}}_?method=DELETE">
    <input type="submit" value="Delete Material"/>
</form>