

<h2>Material: {{material.type}}</h2>

<p>Type: {{material.type}}</p>
<p>Quantity: {{material.quantity}}</p>
<p>Brand Name: {{material.brandName}}</p>
<p>Cost: {{material.cost}}</p>

<form method="POST" action="/materialstore/{{material._id}}?_method=DELETE">
    <input type="submit" class= "btn btn-default" value="Delete Material"/>
</form>


<a href="/materialstore">View All Materials</a>
<br>
<a href="/artstore">View All Stores</a>
<br>
<a href="/materialstore/{{material._id}}/edit">Edit This Material</a>
