<form method="POST" action="/materialstore/{{material._id}}/editmaterial/?_method=PUT">
    <label for="type">Type</label>
    <input type="text" name="type" value="{{material.type}}" id="type" />

    <label for="quantity">Quantity</label>
    <input type="number" name="quantity" value="{{material.quantity}}" id="quantity"/>

    <label for="brandName">Brand Name</label>
    <input type="text" name="brandName" value="{{material.brandName}}" id="brandName"/>

    <label for="cost">Cost</label>
    <input type="number" name="cost" value="{{material.cost}}" id="cost"/>

    <label for="soldYearRound">Sold Year Around</label>
    <input type="checkbox" name="soldYearAround" value="{{material.soldYearRound}}"/>

    <input type="submit" value="Save Material" />

</form>