<form method="POST" action="/classstore/{{classeditId._id}}/editclass/?_method=PUT">
    <label for="nameOfClass">Name of Class</label>
    <input type="text" name="nameOfClass" value="{{oneclass.nameOfClass}}"/>

    <label for="nameOfStore">Name of Store</label>
    <input type="number" name="nameOfStore" value="{{oneclass.nameOfStore}}"/>

    <label for="minutesDuration">Minutes Duration</label>
    <input type="text" name="minutesDuration" value="{{oneclass.minutesDuration}}"/>

    <label for="website">Website</label>
    <input type="text" name="website" value="{{oneclass.website}}"/>

    <label for="teacher">Teacher</label>
    <input type="text" name="teacher" value="{{oneclass.teacher}}"/>

    <label for="taughtSeasonal">Taught Seasonal</label>
    <input type="checkbox" name="taughtSeasonal" value="{{oneclass.taughtSeasonal}}"/>

    <input type="submit" value="Save Material" />

</form>