<h2>Class: {{oneclass.nameOfClass}}</h2>

<p>Name of Class: {{oneclass.nameOfClass}}</p>
<p>Name of Store: {{oneclass.nameOfStore}}</p>
<p>Minutes Duration: {{oneclass.minutesDuration}}</p>
<p>Website: {{oneclass.website}}</p>
<p>Teacher: {{oneclass.teacher}}</p>
<p>Taught Seasonal: {{oneclass.taughtSeasonal}}</p>

<form method="POST" action="/classstore/{{oneclass}}/?_method=DELETE">
    <input type="submit" value="Delete Class"/>
</form>

<a href="/artstore">View All Stores</a>

<a href="/classstore">View All Classes</a>

<a href="/classstore/{{oneclass._id}}/edit">Edit This Class</a>